# Virtual Environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp

# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
.pytest_cache/

# Environment
.env
.env.local
.env.prod
.env.*

# OS
.DS_Store
Thumbs.db
